/* your custom css */

.hljs {
  background: #C6DEFF;
}

._nospin_ {}
._spin_ {
  background-image: url(spinner.gif)!important;
  background-size: 36px 36px!important;
  background-repeat: no-repeat!important;
  background-position: 100% 0!important;
}

/* Social Banner */
.socialBanner {
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}
