html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  background-color: #fafafa;
}

button, a.button {
  background: #102747;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 1em;
  border: 0;
  cursor: pointer;
}

.CodeMirror {
  font-size: 15px;
  border: 1px solid #000;
  width: 438px;
  height: 246px!important;
}


#tutorial table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}
#tutorial table td {
  vertical-align: middle;
}
#tutorial table td {
  width: 33%;
}
#tutorial table td#count_box {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  width: 34%;
}
#tutorial table td.passed {
  background: #aaffaa
}
#tutorial table td.rightcell {
  text-align: right;
}
#tutorial table button {
  margin: 0;
  background: #fd8724;
}
#tutorial #passed_box {
  color: #226622;
}
#tutorial .CodeMirror {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  height: 400px!important;
}

._nospin_ {}
._spin_ {
  background-image: url(spinner.gif)!important;
  background-size: 36px 36px!important;
  background-repeat: no-repeat!important;
  background-position: 100% 0!important;
}

@media only screen and (max-width: 480px) {
  #menu-item-53, #menu-item-557 {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .headerLogo {
    display: block;
    position: relative;
  }

  header.topbar nav ul {
    float: left;
    margin: -10px -10px -15px;
    text-align: left;
  }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {
  header.topbar nav ul {
    margin: -10px -20px -20px;
  }
}

@media only screen and (max-width: 1020px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 18px;
    line-height: 1.8em;
  }
}
